*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: rgb(202, 252, 202);
}

div.titolo{
    padding:50px;
    font-size: 50px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}

img {
    width: 500px;
}

div.immagine {
    width:80%;
    margin: auto;
    text-align: center;
}